* {
    margin: 0 0 0 0;
}

.header {
    background: lightskyblue;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-around;
}

.main-container {
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    border: black solid 2px;
    flex-direction: column;
    text-align: center;
}

.rules {
    padding-left: 2%;
    padding-right: 2%;
    font-size: 20px;
}

.secondary-container h4 {
    font-size: 30px;
    text-align: center;
}

.secondary-container p {
    padding-top: 5%;
    text-align: center;
}

.buttons {
    display: flex;
    padding-top: 5%;
    justify-content: space-around;
}

.start-button {
    font-size: 20px;
    background: limegreen;
    font-weight: bold;
    cursor: pointer;
}

.high-score-button {
    background: yellow;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.answer {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 20px;
    background: lightskyblue;
}

.finalScore {
    font-size: 20px;
}

.result {
    font-style: italic;
    padding-bottom: 5%;
    font-size: 20px;
    text-decoration: underline;
}

.question {
    padding-bottom: 4%;
}

.initials {
    padding-left: 5%;
    padding-right: 5%;
}

.initial-button {
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    font-size: 30px;
}

.third-container {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

.hide {
    display: none;
}

.initial-class {
    text-align: center;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
}